:root {
    --primary-color: #f7899c;
    --secondary-color: #ffffff;
}
html {
    scroll-behavior: smooth;
}
.arcticons--ux-led {
    display: inline-block;
    width: 100px;
    height: 100px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M14.5 17.742v8.37c0 2.29 1.793 4.146 4.01 4.146c2.215 0 4.012-1.856 4.012-4.146v-8.37m10.978 0l-8.018 12.516m0-12.516L33.5 30.258' stroke-width='1'/%3E%3Crect width='37' height='37' x='5.5' y='5.5' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' rx='4' ry='4' stroke-width='1'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.hero {
    background-image: url(https://plus.unsplash.com/premium_photo-1661391620701-5dffb28f4a78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aGFuZCUyMHR5cGluZyUyMGtleWJvYXJkJTIwYWVzdGhldGljfGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 1;
}

.bg-pink {
    background-color: var(--primary-color);
}
.hero::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
}
.content {
    z-index: 300;
    position: relative;
}
.fs-2x {
    font-size: 2rem;
}

.fs-3x {
    font-size: 3rem;
}
.fs-4x {
    font-size: 4rem;
}
.fs-1h {
    font-size: 1.5rem;
}
.new-text {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.text-pink {
    color: var(--primary-color) !important;
}
.btn-pink {
    background-color: var(--primary-color) !important;
}
.box-line1 {
    width: 140px;
    height: 6px;
    background-color: var(--primary-color);
}
.box-line2 {
    width: 300px;
    height: 6px;
    background-color: var(--primary-color);
}

.litBoxBig {
    position: relative;
}
.litBox {
    width: 400px !important;
    position: absolute;
    top: 150px;
    right: 0;
}
.b-stuff-col {
    position: relative;
}
.b-stuff {
    position: absolute;
    bottom: 25px;
    right: 55px;
}
#directEmail:any-link {
    color: grey;
}
.bitmoji-circle {
    width: 400px !important;
    height: 400px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bitmoji-circle img {
    width: 170%;
    height: 170%;
    object-fit: cover;
}
